<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>LOGIN</title>
        <link rel="stylesheet" href="stylesheets/login.css">
        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
        <script src="javascripts/javascript.js"></script>
    </head>
    <body>
        <section>
            <div class="container">
                <div id="login-form">
                    <div>
                        <h1>Sign up</h1>
                        <div id="signup_div">
                            <input id="user_id" type="text" placeholder="ID">
                            <input id="pwd" type="password" placeholder="PASSWORD">
                            <input id="name" type="text" placeholder="NAME">
                            <input id="user_num" type="text" placeholder="ID NUMBER">
                            <button id="sign_up" type="submit">Sign up</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>